{% extends 'navbar.html' %}

{% block content %}

<!-- message will flash if user inputed an alreadt existing villager -->
{% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'repeat' %}
            <div class="container flash-msg">
                <div class="row justify-content-center">
                    <div class="col-12 text-xl-center bg-danger text-white msg">
                        {{ msg }}
                        <button type="button" class="btn btn-danger" data-dimiss="alert", onclick="this.parentElement.style.display='none'">&times;</button>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- message will flash if user inputed an invalid villager when adding -->
{% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'fail-search' %}
            <div class="container flash-msg">
                <div class="row justify-content-center">
                    <div class="col-12 text-xl-center bg-danger text-white msg">
                        {{ msg }}
                        <button type="button" class="btn btn-danger" data-dimiss="alert", onclick="this.parentElement.style.display='none'">&times;</button>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- message will flash if the user successfully added a villager  -->
{% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'success-search' %}
            <div class="container flash-msg">
                <div class="row justify-content-center">
                    <div class="col-12 text-xl-center bg-success text-white msg">
                        {{ msg }}
                        <button type="button" class="btn btn-success" data-dimiss="alert", onclick="this.parentElement.style.display='none'">&times;</button>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container main">
    <h1 class="text-success">Animal Crossing Villagers:</h1>

    <div class="row">
        {% for villagers in species.values() %}
            {% for villager in villagers %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src= "{{ villager['image_uri'] }}"alt="Car Image">
                    
                    <div class="card-body">
                        <h3 class="card-title">{{ villager['name']['name-USen'] }}</h3>
                        <p>Personality: {{ villager['personality'] }} </p>
                        <p>Species: {{ villager['species'] }}</p>
                        <p>Gender: {{ villager['gender'] }}</p>
                        <p>Birthday: {{ villager['birthday-string'] }}</p>
                        <p>Hobby: {{ villager['hobby'] }}</p>
                        <p>Catch Phrase: {{ villager['catch-phrase'] }}</p>
                        <button type="button" class="btn btn-success font-monospace fw-bold" data-bs-toggle="modal" data-bs-target="#addVillager">ADD VILLAGER</button>
                    </div>     
                </div>        
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

{% include 'villager_form.html' %}


{% endblock content %}
